<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/{{ site.twitter_user }}" target="_blank" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_tag }}" target="_blank" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://gitlab.com/{{ site.gitlab_user }}" target="_blank" class="icon alt fa-gitlab"><span class="label">GitLab</span></a></li>
        <li><a href="https://github.com/{{ site.github_user }}" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://bitbucket.org/{{ site.bitbucket_user }}" target="_blank" class="icon alt fa-bitbucket"><span class="label">BitBucket</span></a></li>
        <li><a href="mailto:{{ site.email }}?subject=Contact" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>{{ site.copyright_notice }}</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>