<!doctype html>
<html lang="en">

<head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="landing">
    <!-- Header -->
    <header id="header">
        <h1 id="logo">{{ site.inner_title }}</h1>
        <nav>
            <ul>
                {% if page.blog %}
                <li><a href="/">Home</a></li>
                {% endif %}
                {% unless page.project %}
                <li><a href="/blog/">Blog</a></li>
                <li><a href="#contact" class="button special scrolly">Contact</a></li>
                 {% endunless %}
                {% if page.project %}
                <li><a href="/" class="button special scrolly">Back</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    {% include footer.html %}
    
    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/jquery.dropotron.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets/js/main.js"></script>
</body>

</html>
